* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}
body {
    background: #ffffff;
    margin: 0;
    font-size: 1rem;
    color:#000000;
    background-color:rgb(226, 225, 225);
    font-size: 16px;
    font-style:italic;
}

hr {
    margin: 0  px 0;
}

a{
    color: #000000;
    text-decoration: none ;
}

ul {
    list-style: none;
}


.container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/*Header*/

.header{
    margin: 0;
    margin-top: 0.5rem;
    width: 100%;
}

.header .group-header{
    width: 100%;
    max-width: 2000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px, 0px;
}

.header .group-header .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .group-header .box  figure img{
    width: 250px;
}

.header .group-header .box h2{
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 20px;
}

.header .group-header .redsocial{
    display: inline-block;
    text-decoration: none;
    width: 80px;
    height: 80px;
    line-height: 80px;
    color: #ffff;
    margin-right: 100px;
    text-align: center;
    transition: all 300ms ease;
    margin-top: -5rem;
}

.header .group-header .buscador{
    margin-top: 2rem;
}

.header .group-header .buscador input{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}


.header .group-header .redsocial a:hover{
    color:aqua; 
}

/* Navigation */
.nav-main{
    background: #616161;
    font-size: 17px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand{
    width: 100px;
    margin-top: -10px;
    margin-left: 5px ;
}

/* NAV LEFT */

.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 50px;
}

.nav-main ul li a{
    padding:10 px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid #000000;
}
.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;

}



/* FOOTER PAGE  */

.footer-page{
    margin: 0;
    margin-top: 0.5rem;
    width: 100%;
    background-color: #161313;
}

.footer-page .group-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer-page .group-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-page .group-1 .box figure img{
    width: 250px;

}

.footer-page .group-1 .box h2{
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer-page .group-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.footer-page .group-1 .redsocial{
    display: inline-block;
    text-decoration: none;
    width: 80px;
    height: 80px;
    line-height: 80px;
    color: #ffff;
    margin-right: 100px;
    background-color: #31373f;
    text-align: center;
    transition: all 300ms ease;
}

.footer-page .group-1 .redsocial a:hover{
    color:aqua; 
}

.footer-page .grupo-2{
    background-color: #24262b;
    padding: 15px 10px;
    text-align: center;
    color: #ffffff;
}

.footer-page .grupo-2 small{
    font-size: 15px;
}

.footer-page .group-1 a{
    color: #ffffff;
}

/* WORKSHOP CARDS */

.taller-container{
    margin: 0;
}

.workshop-cards{
    margin: 0;
    margin-top: 1rem;
}    

.workshop-products{
    display: grid;
    gap: 50px ;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
}

.it-gal{
    position: relative;
}

.workshop-cards img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-top: 1rem;
}

.gal-tit{
        position: absolute;
        bottom: -1rem;
        color: #ffffff;
        background: #333;
        width: 100%;
}

/* Galeria */

.galeria-container{
    margin: 1rem;
}

.gallery-cards{
    margin: 0;
    margin-top: 1rem;
}    

.gallery-products{
    display: grid;
    gap: 50px ;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
}

.it-gal{
    position: relative;
}

.gallery-cards img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-top: 1rem;
}

.gal-tit{
        position: absolute;
        bottom: -1rem;
        color: #ffffff;
        background: #333;
        width: 100%;
}

/*Reloj Gallery*/


.lista-marca{
    float: left;
    width: 15%;
    margin-top: 1.5rem;
}

.lista-marca a{
    color: #302d2d;
    text-align: center;
    display: flex;
    padding: 10px 10px;
    font-size: 20px;
}

.lista-marca li a:hover{
    border-bottom: 2px solid #000000;
    color: aqua;
}



.reloj-container{
    margin: 0;
    float: left;
    text-align: justify;
    width: 80%;
}

.catalogo-marca{
    margin: 0;
    margin-top: 1rem;
}

.reloj-gallery{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 155px;
}

.it-galr{
    position: relative;

}

.catalogo-marca img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    margin-top: 1rem;
}

.marca-reloj h2{
    text-align: center;
}

/*Tabla de reloj*/

.tab-v{
    margin: 2rem;
}

.tab-v h2{
    text-align: center;
}

table {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th{
    background-color: black;
    color: white;
}

td,th{
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Joyas */

.lista-joya{
    float: left;
    width: 15%;
    margin-top: 1.5rem;
}

.lista-joya a{
 color: #302d2d;
 text-align: center;
 display: flex;
 padding: 10px 10px;
 font-size: 20px;
}

.lista-joya li a:hover{
    border-bottom: 2px solid #000000;
    color: aqua;
}

.joya-container{
    margin: 0;
    float: left;
    text-align: justify;
    width: 80%;
}

.catalogo-joya{
    margin: 0;
    margin-top: 1rem;  
}

.joya-gallery{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 155px;
}

.it-galr{
    position: relative;

}

.catalogo-joya img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -2.5rem;
}

.joya-j h2{
    text-align: center;
}

